<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{../templates/layout}">
<head>
<meta charset="UTF-8">
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript">
function ajaxGo() {
	var serData = $("form[name=ajaxForm]").serialize();
	alert(serData);
	jQuery.ajax({
		type : "POST",
		url : "ajax",
		data : {"prgCd" : "12"},
		datatype : "json",
		success : function(obj) {
			alert(obj);
		},
		complete : function(data) {// 응답이 종료되면 실행, 잘 사용하지않는다
		},
		error : function(xhr, status, error) {
			alert("ERROR!!!");
		}
	});
}
</script>
<title>THYMELEAF TEST</title>
</head>
<body>
	<section layout:fragment="contents" style="width: 100%;">
		<table border=1 style="width: 100%">
			<tr>
				<td>NO</td>
				<td>EMPNO</td>
				<td>JOB</td>
				<td>ENAME</td>
				<td>HIREDATE</td>
			</tr>
			<tr th:each="rt : ${empList}">
				<td th:text="${rt.empno}">1</td>
				<td th:text="${rt.empno}"></td>
				<td th:text="${rt.job}"></td>
				<td th:text="${rt.ename}"></td>
				<td th:text="${rt.hiredate}"></td>
			</tr>
		</table>
		<form name="ajaxForm">
			<input type="hidden" value="12" name="prgCd">
		</form>
		<button type="button" onclick="ajaxGo()">AJAX</button>
	</section>
</body>
</html>